<!-- 自定义关于页 -->

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    关于我
</p>

<ul style="list-style-type: none;">
<!--     <li title="请先登录脉脉"> -->
<!--         <span class="iconfont icon-profile"></span> -->
<!--         查看<a href="https://maimai.cn/contact/detail/30227616?from=DialogueCard&from_webim=1" target="_blank">个人介绍</a> -->
<!--     </li> -->
    <li>
        <span class="iconfont icon-school"></span>
        2018年7月，毕业于武汉纺织大学电子信息工程系
    </li>
    <li>
        <span class="iconfont icon-newspaper"></span>
        现工作于杭州，任职后端开发
    </li>
    <li>
        <span class="iconfont icon-email"></span>
        联系邮箱 zhwf#qq.com（'#'改为'@'）
    </li>
</ul>

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    关于博客
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="iconfont icon-files"></span>
        博客采用<a href="https://hexo.io/">Hexo</a>静态博客系统、主题为官方主题<a href="https://github.com/jangdelong/hexo-theme-xups" target="_blank">Xups</a> (<a href="https://hexo.io/themes/" target="_blank">Hexo 官网</a>)
    </li>
    <li>
        <span class="iconfont icon-files"></span>
        博客内容主要是学习工作过程中的一些总结，除非特殊声明，博客内容皆为个人原创，转载烦请标注文章来源
    </li>
    <li>
        <span class="iconfont icon-files"></span>
        博客的字体文件以及绝大部分图片存储于 Github Pages，代码托管采用GitHub
    </li>
</ul>

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    Github账号
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="iconfont icon-github"></span>
        <a href="https://github.com/zhweif/" target="_blank">我的Github</a>
    </li>
</ul>
